<h2>Liste des Livres</h2>

<!-- Ajouter un champ de saisie pour la recherche -->
<input type="text" placeholder="Rechercher un livre..." [(ngModel)]="searchQuery" (change)="onSearchChange()">
<!--
<div>
  <label for="category">Category:</label>
  <select id="category" [(ngModel)]="selectedCategory">
    <option value="">All</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
</div>

<div>
  <label for="langue">Language:</label>
  <select id="langue" [(ngModel)]="selectedLangue">
    <option value="">All</option>
    <option *ngFor="let langue of langues" [value]="langue">{{ langue }}</option>
  </select>
</div>

<button (click)="applyFilters(selectedLanguage)">Apply Filters</button>
-->
<ul class="list-group">
  <li class="list-group-item" *ngFor="let livre of filteredLivres" (click)="onLivreSelected()">
    <a [routerLink]="['/livre', livre.titre]">
      {{ livre.titre }} ({{ livre.langue }}) - 
      <span *ngFor="let auteurId of livre.auteurIds; let last = last">
        {{ getAuteurName(auteurId) }}
        <ng-container *ngIf="!last">, </ng-container>
      </span>
    </a>
  </li>
</ul>
